# Node/Bun
node_modules/
*.log
bun.lockb

# IDE
.vscode/
.idea/
.DS_Store

# Env
.env

# SQL dumpid ja andmefailid (kui pole vaja pushida)
*.sql
!dump.sql

# Requirements failid
requirements1.md
requirements2.md

# Muud ajutised failid
*.tmp
*.swp
